<div class="container">
  <div class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="card-form">
          <% if current_user %>
            <%= simple_form_for @prestation do |f| %>
              <%= f.input :price, placeholder: "150 €" %>
              <%= f.input :description, placeholder: "Describe yourself" %>
              <%= f.input :job, collection: ["Kid", "Wife", "Lawyer", "Farmer", "Prince"] %>
              <%= f.input :location, placeholder: "Bordeaux" %>
              <%= f.submit "Add a prestation", class: "btn btn-primary"%>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
