<div class='container'>
  <div class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="card-container">
          <img src="https://picsum.photos/200/300/?random" alt="random" style="text-align:center"> <!-- user image upload cloudinary -->
          <p id="prestation_description"><%=  @prestation.description %> </p>
          <p id="prestation_price"><%= @prestation.price %> €</p>
        </div>
      </div>
    </div>
    <div id="booking">
      <%= simple_form_for [@prestation, @booking] do |f| %>
        <%= f.input :description %>
        <%= f.input :date, as: :string, input_html: {class: "datepicker"}%>
        <%= f.input :location%>
        <%= f.input :duration%>
        <%= f.button :submit, 'Book!', class: "btn-plusone_regular" %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
    <h2>Flatpickr Demo</h2>

    <%= simple_form_for :search, method: "get" do |f| %>
      <%= f.input :starts_at, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :ends_at, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.button :submit, "Go", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
