<div class='container'>
  <div class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="card-container">
          <img src="https://picsum.photos/200/300/?random" alt="random" style="text-align:center"> <!-- user image upload cloudinary -->
          <p id="prestation_description"><%=  @prestation.description %> </p>
          <p id="prestation_price"><%= @prestation.price %> €</p>
        </div>
      </div>
    </div>
    <div id="booking">
      <%= simple_form_for [@prestation, @booking] do |f| %>
        <%= f.input :description, placeholder: 'Describe your need' %>
        <%= f.input :date, placeholder: "2017-12-4", as: :string, input_html: {class: "datepicker"}%>
        <%= f.input :end_date, placeholder: "2017-12-5", as: :string, input_html: {class: "datepicker"}%>
        <%= f.input :location, placeholder: 'London' %>
        <%= f.button :submit, 'Book!', class: "btn-plusone_regular" %>
      <% end %>
    </div>
  </div>
</div>
