<div class='container'>
    <div class="row">

      <div class="col-xs-8">
        <div class="card-container" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),  url('<%= cl_image_path @prestation.user.picture, height: 300, width: 400, crop: :fill %>');">
          <div class="card-details">
            <h2><%= @prestation.user.first_name %></h2>
            <h2 id="prestation_job"><%= @prestation.job %></h2>
            <p id="prestation_price"><%= @prestation.price %> €</p>
          </div>
        </div>

        <div class="card-white-bottom">
          <p id="prestation_description"><%=  @prestation.description %> </p>
          <% if policy(@prestation).destroy? %>
            <% if current_user == @prestation.user %>
              <%= link_to prestation_path(@prestation),
                    method: :delete,
                    data: { confirm: "Are you sure?" } do %>
                <p class="cancel-btn">Cancel</p>
              <% end %>
              <% end %>
            <% end %>
        </div>
      </div>

      <div class="col-xs-4">
        <div id="booking">
          <%= simple_form_for [@prestation, @booking] do |f| %>
            <%= f.input :description, placeholder: 'Describe your need' %>
            <%= f.input :date, placeholder: "2017-12-4", as: :string, input_html: {class: "datepicker"}%>
            <%= f.input :end_date, placeholder: "2017-12-5", as: :string, input_html: {class: "datepicker"}%>
            <%= f.input :location, placeholder: 'London' %>
            <%= f.button :submit, 'Book!', class: "btn-plusone_regular" %>
          <% end %>
        </div>
      </div>

  </div>
</div>


