

<div class='container'>
  <div class="booking-container">
    <div class="row">
      <div class="col-xs-8 ">
        <div class="message message-size,">
          <img class="avatar-message img-circle" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
          <div class="message-name">
            <h3>Gab Dehan</h3>
            <p><%= @booking.date %></p>
          </div>
          <div class="message-body">
            <p><strong>Your message </strong></p>
            <p> <%= @booking.description %></p>
            <p> <%= @booking.duration %></p>
            <p> <%= @booking.location %></p>
          </div>
          <div class="message-status">
            <p class="status pending">Pending</p>
            <i class="fa fa-hourglass-half centered-text" aria-hidden="true"></i>
          </div>
        </div>
      </div>

      <div class="col-xs-4 ">
        <div class = "card2">
          <p class="user-name"><%=@prestataire.first_name%></p>
          <div class="card-body">
            <div id="photo-plus">

            <%=image_tag 'pouffe.jpg', size:'200x200' %>
            </div>

            <div class="footer footer-booking">
               <ul class="footer-icons">
                  <li><i class="fa fa-heart-o" aria-hidden="true"> : <%=@booking.prestation.user.first_name%></i></li>
                  <li><i class="fa fa-envelope-o" aria-hidden="true"> :sophie@gmail.com</i></li>
                  <li><i class="fa fa-mobile" aria-hidden="true"> :06.10.10.10.10</i></li>
                </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>



</div>
