<div class="card" style="background: <%= Prestation::COLORS.sample; %>;">
  <div class="card-category"></div>
  <div class="card-description">
    <h2><%= prestation.description %></h2>
    <p><%= prestation.user %></p>
  </div>
  <img><%= image_tag "avatar_card_test", class: "card-user avatar-bordered", "data-toggle" => "dropdown" %>
    <%= link_to '', prestation_path(prestation), class:'card-link' %>
</div>

